* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  place-items: center;
}

.nav {
  height: 60px;
  width: 100vw;
  border-bottom: 0.5px solid #cccccc;
  backdrop-filter: blur(4px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
