* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
#root {
  width: 100%;
}

body {
  display: flex;
  place-items: center;
}

.nav {
  height: 60px;
  width: 100vw;
  border-bottom: 0.5px solid #cccccc;
  backdrop-filter: blur(6px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

button {
  padding: 4px 25px;
  color: #e9e9e9;
  border: 1px solid rgba(85, 85, 85, 0.5);
  background-color: rgba(85, 85, 85, 0.5);
  border-radius: 8px;
  font-size: 1.3rem;
  transition: 0.15s;
}

button:hover {
  border: 1px solid #e9e9e9;
  cursor: pointer;
  scale: 1.05;
}

.prm {
  background-color: rgb(116, 212, 180);
  border: 1px solid rgb(116, 212, 180);
  color: #011e29;
}

.srch-drop-con {
  position: relative;
  width: 300px;
}

.srch-drop-con input {
  height: 35px;
  width: 100%;
  font-size: 1.2rem;
  padding: 4px 10px;
  border-radius: 6px;
  margin: 10px;
}

.drp-dwn {
  position: absolute;
  top: 45px;
  left: 18px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.in-line {
  display: flex;
  gap: 20px;
  align-items: center;
}

.dd {
  padding: 2px 5px;
  font-size: 1.2rem;
  background-color: azure;
  width: 90%;
  cursor: pointer;
  z-index: 1;
}
.fcs {
  background-color: aquamarine;
  color: #011e29;
}

.rc {
  position: absolute;
  top: 5vh;
  right: 5vw;
}

.logout {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}
